/*GENERAL*/
*{
    
    padding: 0;
    box-sizing: border-box;
    
   }
body {
    background-color: #f5dca3;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    color:#8C9761;
    font-size: 45px;
    
    text-align: center;
    padding-top: 2rem;
    text-shadow: 8px 6px 11px #A9907E
}

p {
    color: rgb(63, 104, 104);
    font-size: 18px;
   
}
/*CONTAINER GRID*/

.container{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
}
/*HEADER*/
.container-header{
    grid-column-start: 1;
    grid-column-end: 4;
   gap: 2rem;
}
.menu {
    grid-column: 3;
    /* position: relative; */
  }
.menu ul{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position:absolute;
    top:0;
    margin: 0;
    padding: 0;
    right: 4rem;
    gap: 30px;
    list-style: none;
    cursor: pointer;
     transition: background-color 0.3s ease;
     color:#8C9761;
     font-size: 18px;
}

.toggle-menu  {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #8C9761;
    cursor: pointer;
    display: none;
  }
  .toggle-menu.hide {
    display: none;
  }
  
  .close-menu.show {
    display: block;
  }
  .close-menu i {
    font-size: 24px;
    color: #8C9761;
  }
  
  .toggle-menu i {
    font-size: 24px;
    color: #8C9761;
  }
.menu ul li a{
    text-decoration: none;
    color:#8C9761;
}


.menu ul li:hover a  {
  color:#FFB26B;
   transform: scale(1.2);
  transition: all;
}

.menu ul li i{
    animation: brillo 1s infinite;
}
.menu a {
    text-decoration: none;
    color: black;
}   
.menu a:hover{
    color: purple;
}




.menu ul li:hover  {
  color:#FFB26B;
  transform: scale(1.2);
  transition: all;
}

.logo {
    grid-column: 1 / span 2;
    width: 175px;
    height: 175px;
    background-color: #adb97e;
    box-shadow: 24px 24px 0px -3px #FFD56F, -24px -24px 0px -3px #FF7B54;
    margin-top: 1rem;
    margin-left: 2rem;
}

.logo:hover {
    transform: scale(1) rotate(360deg);
    transition: all 0.5s ease-in-out;
  }


 


/*MAIN*/


.container-main {
   grid-column: 1/3;
   margin-top: 5rem;
    
}

.text{
    width: 600px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.image {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    background-image: url(/static/img/fachada.jpg);
    background-size: cover;
    transition: all 0.6s ease-in-out;
    margin-top: 2rem;
  }
  
  .image:hover {
    background-image: url(/static/img/reves.jpg);
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
  }
  /*FOOTER*/
.container-footer{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 3rem;
    padding: 1rem;
}
.icons-dates{
   
    
    display: flex;
    align-items: baseline;
    gap: 25px;
   justify-content: space-between;
}
.info{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
} 
.info p{
    font-size: 14px;
}
.end p{
   text-align: center; 
   font-size: 12px;
   margin-top: 3rem;
}
.end i{
    color: #FF7B54;
    font-size: 20px;
    animation: brillo 1s infinite;
}
/*ANIMACIONES*/
@keyframes brillo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/*QUERYS*/


@media  screen and (max-width:600px) {
    /*Querys del menu - incluye menu hamburguesa*/
    .container-header {
        grid-template-columns: 1fr;
      }
    
      .logo {
        grid-column: 1;
      }
    
      .menu {
        grid-column: 1;
      }
    
      .menu ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #fff;
        z-index: 9999;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.3s ease;
      }
    
      .menu ul.show {
        transform: translateX(0);
        z-index: 0;
      }
    
      .menu ul li {
        margin: 10px 0;
      }
    
      .toggle-menu {
        display: block;
      }
        .close-menu.show,
  .menu ul.show + .close-menu {
    display: block !important;
    z-index: 1;
    margin-top: 2rem;
    background-color: #fff;
    border: none;
  }
  .hidden {
    display: none;
  }
  /*Query main y aside*/
    .container-main{
        grid-column: 1/4;
       
    }
    .image{
        grid-column: 3/-1;
        width: 500px;
        height: 200px;
        align-items: center;
       justify-self: center;
    }
    

}

