body {
    background-color: #f5dca3;
}
.menu ul{
    display: flex;
    justify-content:right;
    gap: 20px;
    list-style: none;
}

.menu ul li a{
    color:#8C9761;
    text-decoration: none;
    font-size: 25px;
    font-family: Georgia;
    font-weight: bold;
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    /*border-right: 7px ridge rgb(105, 131, 131);
    border-bottom: 7px ridge rgb(86, 146, 146);*/
}

.logo {
    width: 175px;
    background-color: #adb97e;
    justify-content: flex-start;
    border: 1px solid black;
    position: relative;
    z-index: 4;
       
}

.clase1 {
    position: absolute;
    z-index: relative;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 160px;
    border: 1px solid black;
    background-color: rgb(255,123,84);
    padding: 10px;
    opacity: 0.85;
    overflow: hidden;
}

.clase2 {
    position: absolute;
    z-index: auto;
    left: 60px;
    top: 50px;
    width: 150px;
    height: 160px;
    border: 1px solid black;
    background-color:rgb(28,49,94);
    padding: 10px;
    opacity: 0.95;
    overflow: hidden;

}
/*.clase3 {
    position: relative;
    z-index: 3;
    left: 210px;
    top: 10px;
    width: 220px;
    height: 90px;
    border: 1px solid black;
    background-color: rgb(18,93,152);
    padding: 10px;
    opacity: 0.95;
    overflow: hidden;*/


.iconos {
    display: flex;
    font-size: 40px;
    gap: 20px;
    justify-content:flex-end;
}

h1 {
    color:#8C9761;
    font-size: 45px;
    font-family: Georgia ;
    font-weight: lighter;
    text-align: center
}

p {
    color: rgb(63, 104, 104);
    font-size: 25px;
    font-family: serif ;
    font-weight: bold;
    text-align: justify;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    gap: 50px;
    padding: 25px;

}

.texto{
    width: 750px;
}

.datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.iconos-datos{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-items: center;
}

i {
  font-size: 35px;  
}

.whatsap{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: right;
}

footer{
    display: flex;
    justify-content: center;
    /*border-top: 1px;*/
    border-top: 2px solid rgb(63, 104, 104);
    border-bottom: 2px solid rgb(63, 104, 104);
    
}