/*GENERAL*/
*{
    
    padding: 0;
    box-sizing: border-box;
    
   }
   
body {
    background-color: #f5dca3;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}
h1 {
    color:#8C9761;
    font-size: 45px;
    
    text-align: center;
    padding-top: 2rem;
    text-shadow: 8px 6px 11px #A9907E
}

p {
    color: rgb(63, 104, 104);
    font-size: 18px;
   
}

/*CONTAINER GRID*/

.container{
    width: 100%;
    margin:  auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
}
/*HEADER*/
.container-header{
  display: flex;
    
   gap: 2rem;
}
.menu {
    grid-column: 2/4;
    
  }
.menu ul{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position:absolute;
   top: 0;
    margin: 0;
    padding: 0;
    right: 4rem;
    gap: 30px;
    list-style: none;
    cursor: pointer;
     transition: background-color 0.3s ease;
     color:#FFB26B;
     font-size: 18px;
  
}
 .menu ul li{
  margin-top: 2rem;
  
 }
 
.toggle-menu  {
    position: absolute;
    top: 0;
    
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    
  }
  .close-menu {
    position: relative;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #8C9761;
    cursor: pointer;
    display: none;
  }
  .toggle-menu.hide {
    display: none;
  }
  
  .close-menu.show {
    display: block;
   
  }
  .close-menu i {
    font-size: 20px;
    color: #8C9761;
    
  }
  
  .toggle-menu i {
    font-size: 20px;
    color: #FFB26B;
  
  }
.menu ul li a{
    text-decoration: none;
    color:#FFB26B;
}


.menu ul li:hover a  {
  color:#FFB26B;
   transform: scale(1.2);
  transition: all;
}

.menu ul li i{
    animation: brillo 1s infinite;
}




.menu ul li:hover  {
  color:#FFB26B;
  transform: scale(1.2);
  transition: all;
}

.logo {
    grid-column: 1 / span 2;
    width: 175px;
    height: 175px;
    background-color: #adb97e;
    box-shadow: 24px 24px 0px -3px #FFD56F, -24px -24px 0px -3px #FF7B54;
    margin-top: 1rem;
    margin-left: 2rem;
}

.logo:hover {
    transform: scale(1) rotate(360deg);
    transition: all 0.5s ease-in-out;
  }
ul .show{
  position: relative;
  z-index: 99;
}

 


/*MAIN*/


.container-main {
   grid-column: 1/3;
   margin-top: 5rem;
    
}

.text{
   
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.image {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    background-image: url(/static/img/fachada.jpg);
    background-size: cover;
    transition: all 0.6s ease-in-out;
    margin-top: 6rem;
  }
  
  .image:hover {
    background-image: url(/static/img/reves.jpg);
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
  }
  /*FOOTER*/
.container-footer{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 3rem;
    padding: 1rem;
}
.icons-dates{
   font-size: 20px;
   font-weight:bold;
    color: #FFB26B;
    display: flex;
    align-items: baseline;
    gap: 25px;
   justify-content: space-between;
}
.icons-dates i:hover{
 
  transform: scale(1) rotate(160deg);
    transition: all 0.5s ease-in-out;
}
.info{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
} 
.info p{
    font-size: 14px;
}
.map{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
  
}
.info-map{
  display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    
}
.info-map p{
  font-size: 14px;
}
#map{
width: 300px;
height: 100px;
}
.end p{
   text-align: center; 
   font-size: 12px;
   margin-top: 3rem;
}
.end i{
    color: #FF7B54;
    font-size: 20px;
    animation: brillo 1s infinite;
}
/*ANIMACIONES*/
@keyframes brillo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/*QUERYS*/


@media  (max-width:480px) {
    /*Querys del menu - incluye menu hamburguesa*/
   
    .container{
      display: grid;
     
      margin: 0 10px 0 10px;
      align-self: center;
      width: 100%;
     justify-content: center;
     align-items: center;
    }
  
     
    
      .container-header {
        grid-column: 1;
        margin-left: 20px;
      }
      .menu {
        grid-column: 1;
        
      }
    
      .menu ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #fff;
        z-index: 9999;
        overflow-y: auto;
        transform: translateX(170%);
        transition: transform 0.3s ease;
      }
    
      .menu ul.show {
        transform: translateX(0);
        z-index: 0;
      }
    
      .menu ul li {
        margin: 10px 0;
      }
      
      .toggle-menu {
        top: 0;
        right: 0;
        display: block;
        justify-self: end;
       position: absolute;
      }
      .close-menu {
        position: absolute;
        top: 2rem; /* Ajusta la posición vertical según sea necesario */
        right: 1rem;
        z-index: 99;
        background-color: #fff;
        border: none;
        display: none;
       
      }
    
      .close-menu.show,
      .menu ul.show + .close-menu {
        display: block !important;
      }
      
  
  .hidden {
    display: none;
  }
 
  /* Query main y aside */
    .container-main{
        grid-column: 1/4;
       justify-content: center;
       align-items: center;
    }
   .text{
    margin-left: 0;
    margin-right: 2rem;
    padding: 0 1rem 0 1rem;
   }
    .image{
    grid-column:1/3;
    width:400px;
    height: 200px;
    align-items: center;
   justify-self: center;
  
}
.container-footer{
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 1rem 0 1rem;
  
}
.icons-dates{
  
   align-items: baseline;
   gap:20px;
  justify-content:center;
}
#map{
  width: 180px;
  margin-top: 30px;
  }

  }


  @media  (min-width: 481px) and (max-width:650px) {
    /*Querys del menu - incluye menu hamburguesa*/

     .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin: 0 10px 0 10px;
      align-self: center;
      width: 100%;
     justify-content: center;
     align-items: center;
    } 
   
     
    
      .container-header {
        grid-column-start: 1;
        grid-column-end:3 ;
        align-items: center;
      } 
        .menu {
        grid-column: 2;
        
      }  
    
      .menu ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #fff;
        z-index: 9999;
        overflow-y: auto;
        transform: translateX(170%);
        transition: transform 0.3s ease;
      }
    
      .menu ul.show {
        transform: translateX(0);
        z-index: 0;
      }
    
      .menu ul li {
        margin: 10px 0;
      }
      
      .toggle-menu {
        grid-column: 2/3;
        top: 0;
        right: 0;
        display: block;
        justify-self: end;
       position: absolute;
      }
      .close-menu {
        position: absolute;
        top: 2rem; 
        right: 1rem;
        z-index: 99;
        background-color: #fff;
        border: none;
        display: none;
       
      }
    
      .close-menu.show,
      .menu ul.show + .close-menu {
        display: block !important;
      }
      
  
  .hidden {
    display: none;
  }
  .image{
    grid-column:1/3;
    width:400px;
    height: 200px;
    align-items: center;
   justify-self: center;
  
}

}
 
@media  (min-width: 651px) and (max-width:850px){
  .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 10px 0 10px;
    align-self: center;
    width: 100%;
   justify-content: center;
   align-items: center;
  } 
 
   
  
    .container-header {
      grid-column-start: 1;
      grid-column-end:3 ;
      align-items: center;
    } 
      .menu {
      grid-column: 2;
      
    }  
  
    .menu ul {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 5%;
      right: 0;
      width: 50%;
      height: calc(100vh - 70px);
      background-color: #fff;
      z-index: 9999;
      overflow-y: auto;
      transform: translateX(170%);
      transition: transform 0.3s ease;
    }
  
    .menu ul.show {
      transform: translateX(0);
      z-index: 0;
    }
  
    .menu ul li {
      margin: 10px 0;
    }
    
    .toggle-menu {
      grid-column: 2/3;
      top: 0;
      right: 0;
      display: block;
      justify-self: end;
     position: absolute;
    }
    .close-menu {
      position: absolute;
      top: 2rem;
      right: 1rem;
      z-index: 99;
      background-color: #fff;
      border: none;
      display: none;
     
    }
  
    .close-menu.show,
    .menu ul.show + .close-menu {
      display: block !important;
    }
    

.hidden {
  display: none;
}
.image{
  grid-column:1/3;
  width:400px;
  height: 200px;
  align-items: center;
 justify-self: center;

}
}

