@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.contact-h1{
    width: 100%;
    color: #51573d;
    font-size: 32px;
    margin-right: 25rem;
    
    text-shadow: 8px 6px 11px #A9907E;
    opacity: 1;
    animation: fadeIn 4s ease-in-out forwards;
} 
.menu ul {
    top: 0;
    color: #51573d;
}
.menu ul li a{
    color: #51573d;
}
.logo{
    margin-bottom: 1rem;
}
.container-header{
    background: url("./img/contact.jpg")   ;
    background-size: cover;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 40vh; 
    display: flex;
    z-index: 1;
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-start: 1;
    grid-column-end: 4;
}

.contact{
    margin-top: 3rem;
    justify-self: center;
    gap: 2rem;
    align-items: center;
   color: #8C9761;
   display: flex;
   flex-direction: column;
}
.contact-icons {
  display: flex;
  gap: 3rem;
  font-size: 25px;
  color: #FFB26B;
  font-weight:bold;
}
.contact-icons i:hover{
    transform: scale(1.1) ;
    transition: 0.4s;
    cursor: pointer; 
}
.container-form{
        padding: 3rem;
        grid-column-start: 2;
        grid-column-end: 4;
       gap: 2rem;
        
}

.form{
    display: flex;
    flex-direction: column;
   
    margin-left: 6rem;
    padding-left: 2rem;
    gap: 5px;
    width: 70%;
}
.form_label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.form_group_input {
	position: relative;
}

/* .form input{
    height: 30px;
    border-radius: 5px;
    border:none ;
} */
.form_input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.form_input_error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form_input_error_activo {
	display: block;
}
.form_validation_state {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.form input:focus, textarea:focus{
    outline: 0 none;
    border-color: #8C9761;
    box-shadow: 0 1px 1px #8C9761 inset, 0 0 8px #8C9761;
}
.form textarea{
    border-radius: 5px;
    border: none;
}
.form button{
    width: 30%;
    height: 2rem;
    align-self: center;
    margin-top: 1rem;
    border-radius: 5px;
    background-color:#8C9761 ;
    border: none;
}
.form button:hover{
    transform: scale(1.2) ;
    transition: 0.4s;
    cursor: pointer;
}
.form label{
    color: #8C9761;
    font-weight:bold;
    margin-top: 1rem;
}


        .form_input_error {
            font-size: 12px;
            margin-bottom: 0;
            display: none;
        }
        .form_input_error_active {
            display: block;
        }
        .form_validation_state {
            position: absolute;
            right: 10px;
            bottom: 15px;
            z-index: 100;
            font-size: 16px;
            opacity: 0;
        }
        .form_input {
            position: relative;
        }
        
        .form_input {
            width: 100%;
            background: #fff;
            border: 3px solid transparent;
            border-radius: 3px;
            height: 45px;
            line-height: 45px;
            padding: 0 40px 0 10px;
            transition: .3s ease all;
        }
        
        .form_input:focus {
            border: 3px solid #0075FF;
            outline: none;
            box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
        }
        .form_mess_exit {
            font-size: 14px;
            color: black;
            display: none;
        }
        .form_mess {
            height: 45px;
            line-height: 45px;
            background: #F66060;
            padding: 0 15px;
            border-radius: 3px;
            display: none;
        }
        
        .form_mess_active {
            display: block;
        }
        
        .form_mess p {
            margin: 0;
            font-size: 15px;
        }
        
        .form_mess_exit_active {
            display: block;
        }
        .form_correct .fa-circle-check{
            color: green;
            opacity: 1;
            }
            
            .form_incorrect .form_label{
                color: red;
                }
                .form_incorrect  .fa-circle-xmark{
                    color: red;
                    opacity: 1;
                    }
                .form_incorrect .form_input{
                   border: 3px solid red;
                    }
                    .fa-check-circle:before,
.fa-times-circle:before {
    content: "\f058";
}



                    /* QUERYS */

    @media  screen and (max-width:480px){
        .container{
            display: grid;
            grid-column: 1/4;
        }
        .contact-h1{
            font-size: 20px;
            margin-top: 0;
        }
        .logo{
            margin-top: 40px;
        }
        .contain-logo{
            display: flex;
            gap:100px
        }
        .main-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           grid-column-start: auto;
        }
        .container-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            
    }
    .form{
        
       
        margin-left: 0;
        padding-left: 0;
        gap: 5px;
        width: 100%;
    }
      .icons-dates{
        justify-content: center;
       padding: 0 30px 0 40px;
       gap: 3px;
       margin-left: 10px;
       margin-right: 5px;
      } 
      .form button{
        width: 100%;
    }
    }
    @media  screen and (min-width: 481px) and (max-width: 650px) {
        .container{
            display: grid;
            grid-column: 1/4;
          
        }
        .contact-h1{
            font-size: 20px;
            margin-top: 40px;
            margin-left: 50px;
           
        }
        .logo{
            margin-top: 40px;
        }
        
       .contact{
       
  text-align: center;
       }
       .contact-icons {
        display: flex;
        justify-content: center;
      }
      .form{
        
       
        margin-left: 0;
        padding-left: 0;
        gap: 5px;
        width: 100%;
    }
    .form label{
        font-size: 13px;
    }
    .form button{
        width: 100%;
    }
    }

    @media  screen and (min-width: 651px) and (max-width: 850px) {
        .contact-h1{
            font-size: 20px;
            margin-top: 40px;
            margin-left: 50px;
           
        }
        .form{
        
       
            margin-left: 0;
            padding-left: 0;
            gap: 5px;
            width: 100%;
        }
    }
                  