/*GENERAL*/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #000;
  scroll-behavior: smooth;
}
body {
    background-color: antiquewhite;
    /*box-sizing: border-box;*/
    /*font-family: 'Poppins', sans-serif;*/
    overflow-x: hidden;
}
section{
  padding: 5rem 15px;
  overflow: hidden;
}
a{
  text-decoration: none;
}

img{
  width: 100%;
  max-width: 100%;
}

p {
    font-size: 1.6rem;
    margin-inline: 20px;
   
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-right: 25px;
}
th,td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #9e8e84;
}

.container{
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;

}

.title h1 {
    box-sizing: border-box;
    color:#dce0cb;
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    /*padding-top: .1rem;*/
    text-shadow: 8px 6px 11px #A9907E
}
.subtitle h2{
    color:#dce0cb;
    font-size: 45px;
    text-align: center;
    /*padding-top: 2rem;*/
    text-shadow: 8px 6px 11px #A9907E
}

.hero{
    width: 100%;
    height: 50vh;
    background: url("../img/backPortada.jfif") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: .6;
}


/*CONTAINER GRID*/

/*.container{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
}*/


/*HEADER*/

header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5),transparent);
}


.logo {
    grid-column: 1/span 2;
    width: 75px;
    height: 75px;
    background-color: #adb97e;
    box-shadow: 10px 10px 0px -3px #FFD56F, -10px -10px 0px -3px #FF7B54;
    margin-top: 1rem;
    margin-left: 2rem;
    opacity: 0.7;
}

/*.logo:hover {
    transform: scale(1) rotate(360deg);
    transition: all 0.5s ease-in-out;
  }*/
.menu {
    grid-column: 3;
    /* position: relative; */
  }
.menu ul{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position:absolute;
    top: 5px;;
    margin: 0;
    padding: 0;
    right: 4rem;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color:#dce0cb;
    font-size: 18px;
}

.toggle-menu  {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #8C9761;
    cursor: pointer;
    display: none;
  }
  .toggle-menu.hide {
    display: none;
  }
  
  .close-menu.show {
    display: block;
  }
  .close-menu i {
    font-size: 24px;
    color: #8C9761;
  }
  
  .toggle-menu i {
    font-size: 24px;
    color: #8C9761;
  }
.menu ul li a{
    text-decoration: none;
    color:#dce0cb;
}


.menu ul li:hover a  {
  color:#FFB26B;
   transform: scale(1.2);
  transition: all;
}

.menu ul li i{
    animation: brillo 5s infinite;
}

.menu ul li:hover  {
  color:#FFB26B;
  transform: scale(1.2);
  transition: all;
}



/*MAIN*/

.title{
  color: #fff;
  font-size: 3.7rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.subtitle h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.flex-container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flex-container > div {
    width: 50%;
    padding: 20px;
}

.flex-container > div:first-child {
    margin-right: 20px;
}

.btn {                          
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    margin-top: 3px;
} /*boton*/


.cta-btn {                          
    font-size: 1.1rem;
    background-color: #ffb545;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;}  /*boton*/

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #6a8634;
}

.global{
    text-align: center;
    margin-top: 3.9rem;
}

.about-us .global{
  margin-top: 6.9rem;
}

.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}

.global .sub-h2 {
    letter-spacing: -1px;
    line-height: .4;
}
.sub-h2{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #080c05;
    font-weight: 600;
    line-height: .4;
}

.hd{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #070707;
    font-weight: 600;
    line-height: 1;
}

.head hea-dark {
    color: #000;
    letter-spacing: .7rem;
    margin-right: -.7rem;
    opacity: 0;
}

.about-us .global{
    margin-top: 6.9rem;
}

.info {
    text-align: center;
}

.text{
    margin-bottom: 3rem;
    
}

.text p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
   
}


.rig{
   justify-content: right;
    max-width: 100%;
    background-size: cover;
    
  }
  
  /*.image:hover {
    background-image: url(../img/photo-talleres.avif);
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
  }*/


/*WORKSPACES*/

.workspaces {
    background: url("../img/Talleres.webp") center no-repeat;
    background-size: cover;
    opacity: 0.6;
}


.bt {
    min-height: 30vh;
    display: flex;
    align-items: center;
}


/*workshop*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*columnas*/
    grid-gap: 1.2rem;
    text-align: left;
    
}



.workshop .text {
    padding-top: 3rem;
    margin-bottom: 0;
}

.events {
    background: url("../img/escenario2.avif") center no-repeat;
    background-size: cover;
    opacity: .7;
}
.bt {
    min-height: 30vh;
    display: flex;
    align-items: center;
}

.table{
    margin-left: 15px;
    margin-right: 15px;
}

.library {
    background: url("../img/biblio3.avif") center no-repeat;
    background-size: cover;
    opacity: .75;
}
.bt {
    min-height: 50vh;
    display: flex;
    align-items: center;
}
 
.library-content .text{
    padding-top: 3rem;
    margin-bottom: 0;
}


  /*FOOTER*/
.container-footer{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 3rem;
    padding: 1rem;
    background-color:#c2988f ;
    opacity: .7;
}
.icons-dates{
    
    display: flex;
    align-items: baseline;
    gap: 25px;
   justify-content: space-between;
}
.info{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
} 
.info p{
    font-size: 14px;
}
.end p{
   text-align: center; 
   font-size: 12px;
   margin-top: 3rem;
}
.end i{
    color: #FF7B54;
    font-size: 20px;
    animation: brillo 1s infinite;
}

/*BIBLIOTECA*/

.library-corp {
    display: grid;
    /* Uso un atajo para definir tres filas / tres columnas */
    grid-template: 20% 55% 5% / 25% auto 25%;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas:
        
        "left contenido right"
        "foot foot foot";
    /* separamos los items con gap */
    grid-gap: 5px;
    column-gap: 20px;
    justify-content: space-between;
    margin-top:0;
    padding-top: 0;
}

.sub-h2 lib{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #080c05;
    font-weight: 600;
    line-height: .4;
    text-align: center;
    margin: 0;
}

.article p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
    text-align: center;
  
}

.it {
    padding: 5px;
    height: 100%;
    border-radius: 15px;
    text-align: center;
}

ul{
    list-style-type: square;
    font-size: large;
    text-align: left;
    
}

.Left {
    grid-area: left;
    /*background-color: coral;*/
    border-left: 15px;
    padding-left: 10%;
    

}

.Right {
    grid-area: right;
    /*background-color: rgb(177, 177, 66);*/
    border-right: 15px;
    padding-right: 10%;

}

.Main {
    grid-area: contenido;
    /*background-color: rgb(189, 220, 223);*/
    text-align: center;
    font-size: large;

}

.dark div{
  
  border-bottom:solid 1px grey;
  width:100%;
  height:50px;
}

hr {
border: 0;
border-top: 2px solid #999; 
border-bottom: 2px solid #333;
height:0;
}

/*ANIMACIONES*/
@keyframes brillo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/*QUERYS*/


@media  screen and (max-width:900px) {
    /*Querys del menu - incluye menu hamburguesa*/
    .container-header {
        grid-template-columns: 1fr;
      }
    
      .logo {
        grid-column: 1;
      }
    
      .menu {
        grid-column: 1;
      }
    
      .menu ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: #fff;
        z-index: 9999;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.3s ease;
      }
    
      .menu ul.show {
        transform: translateX(0);
        z-index: 0;
      }
    
      .menu ul li {
        margin: 10px 0;
      }
    
      .toggle-menu {
        display: block;
      }
        .close-menu.show,
  .menu ul.show + .close-menu {
    display: block !important;
    z-index: 1;
    margin-top: 2rem;
    background-color: #fff;
    border: none;
  }
  .hidden {
    display: none;
  }

  section {
      padding: 7.9rem;
    }
  
    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .sub-2 {
        font-size: 3rem;
    }

    
    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .info {
        display: flex;
        align-items: center;
    }

    .info > div {
        flex: 1;
    }

    .rig {
        padding-right: 7rem;
    }
  /*Query main y aside*/
   /*  .container-main{
        grid-column: 1/4;
       
    }
    .image{
        grid-column: 3/-1;
        width: 500px;
        height: 200px;
        align-items: center;
       justify-self: center;
    } */
    

}

