* {
    box-sizing: border-box;
}

body {
    background-color: #f5dca3;
    font-family: 'Poppins', sans-serif;
}

h2, li {
    color:#8C9761;
}
.container {
    display: grid;
    /* Uso un atajo para definir tres filas / tres columnas */
    grid-template: 20% 65% 8% / 17% 60% 17%;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas:
        "header header header"
        "left contenido right"
        "foot foot foot";
    /* separamos los items con gap */
    grid-gap: 5px;
    column-gap: 20px;
    justify-content: space-between;
}
.contain-logo{
    width: 100%;
    margin-right: 0;
    display: flex;
    padding-right: 0;
    
 }
 
.contact-h1{
    color:#8C9761;
    font-size: 45px;
    margin-left: 18rem;
    padding-top: 2rem;
    text-shadow: 8px 6px 11px #A9907E;
    opacity: 0; 
    animation: fadeIn 4s ease-in-out forwards;
}

 .logo {
    margin-top: 2rem;
}



.Left {
    grid-area: left;
    margin-top: 4rem;
    border-left: 15px;
    list-style: none;
    font-size: larger;
    text-align: justify;
    background-color: #8C9761;
    
}
.Left h2{
    color: #FFB26B;
}
.Left li{
    margin-bottom: 1rem;
   color: #FFB26B;
   padding: 0 10px 0 10px;
}

.Right {
    grid-area: right;
    background-color: #8C9761;
    margin-top: 4rem;
}
.Right h2{
color: #FFB26B;
}
.Right iframe{
    margin-top: 1rem;
}

.Main {
    grid-area: contenido;
    
    text-align: justify;
    font-size: large;

}

.Footer {
    grid-area: foot;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.item {
    padding: 5px;
    height:fit-content;
    border-radius: 15px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
      }
      25%{
        opacity: 0.25;
      }
      50% {
        opacity: 0.5; 
      }
      100% {
        opacity: 1;
      }
  }