
 * {
    box-sizing: border-box;
}

body {
    background-color: #f5dca3;
    font-family: 'Poppins', sans-serif;
}

h2, li {
    color:#51573d;
    text-shadow: 8px 6px 11px #A9907E;
}

h2:hover{
    transform: scale(1.2);
  transition:calc(00.5s);
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:   17% 60% 17%;

    
    grid-template-areas:
        "header header header"
        "left contenido right"
       
}



.container-header{
    background: url("../library/imag/biblio_blanca.jpg") ;
    background-size: cover;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 40vh; 
    display: flex;
    z-index: 1;
}
.container-header ul{
    top: 0;
}
.menu ul li a{
    color: #FFB26B;
}
.menu ul i{
    color: #FFB26B;
}

.contact-h1{

    color: #51573d;
    font-size: 65px;
    margin-right: 30rem;
    padding-top: 1rem;
    text-shadow: 8px 6px 11px #A9907E;
    opacity: 1;
    animation: fadeIn 4s ease-in-out forwards;
}



.logo{
    margin-bottom: 10px
}

.linea{
    border-top: 1.5px solid black;
    height: 2px;
    max-height: 250px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.v-line{
    border-left: thick solid #000;
    height: 45%;
    left: 25%;
    position: absolute;
}

.v-line-r{
    margin-top: 7.5%;
    border-left: thick solid #000;
    height: 48%;
    right: 24%;
    position: absolute;
}
.freedom{
   
    display: flex;
    flex-direction: column;
    top: 0;
}

/* .Logo {
    grid-area: logo;
    background-color: #dfbfb1;
}

.Header {
    grid-area: header;
    background-color: #f5dcd1;
} */

.Left {
    grid-area: left;
    margin-top: 5rem;
    /* background-color: coral; */
    border-left: 15px;
    padding-left: 10%;
   /*  list-style: none; */
    /* font-size: larger; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul li{
    margin-top: 2rem;
}


.Left li{
    margin-bottom: 1rem;
    color: #51573d;
    padding: 0 10px 0 10px;
}
.Left img{
    animation: fadeIn 4s ease-in-out forwards; 
}

.Right {
    grid-area: right;
    /* background-color: rgb(177, 177, 66); */
    margin-top: 5rem;
}


.aside-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 0;
}
.aside-right p{
    top: 0;
}

.Main {
    margin-top: 20px;
    grid-area: contenido;
    /* background-color: rgb(189, 220, 223); */
    text-align: justify;
    font-size: large;

}

p{
    margin-top: 25px;
    color: #51573d;
    font-weight: 20px;
}

iframe{
    width: 65%;
    height: 40%;
}


.button{
    background-color: #51573d;
    border: none;
    color: #f5dca3;
    padding: 15px 32px;
    text-align: center;
    text-transform: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0 0 9rem;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 25%;
    width: 50%;
    text-decoration: none;
}
.button:hover{
    transform: scale(1.2);
  transition:calc(00.5s);
}

/* .Footer {
    grid-area: foot;

} */

.item {
    padding: 5px;
    height: 100%;
    border-radius: 15px;
    text-align: center;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* QUERYS */
@media  (max-width:480px) {
    .container-header{
        margin-left: 0;
    }
        .logo{
            width: 130px;
            height: 130px;
            margin-left: 20px;
        }
     .contact-h1{
            font-size: 30px;
            margin-left: 10px;
        }
         
        
        p{
           font-size: 14px;
           padding-left: 4rem;
           padding-right: 5rem;
           margin-right: 1rem;
           margin-left: 1rem;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Left{
            margin-top: 1rem;
        }
        .Right{
            margin-top: 1rem;
        }
        
        
    }
    @media  (min-width: 481px) and (max-width:650px) {
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Left{
            margin-top: 1rem;
        }
        .Right{
            margin-top: 1rem;
        }
    }
    @media  (min-width: 651px) and (max-width:850px){
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 400px;
            height: 200px;
        }
        .Left{
            margin-top: 1rem;
        }
        .Right{
            margin-top: 1rem;
        }
        .freedom{
            align-items: center;
        }
        .button{
            margin-left: 10px;
        }
        
        }
    
    

