.menu ul{
    top: 0;
    color: #FFB26B;
   
}
.menu ul li a{
    color: #FFB26B;
}

.hero h1{
    color:#e3e7d3;
    font-size: 55px; 
    text-align: right;
    text-shadow: 8px 6px 11px #A9907E;
    line-height:1em;
   

}

.hero {
    color:#51573d;
   
    margin-right: 24rem; 
    text-align: right;
    text-shadow: 8px 6px 11px #A9907E;
    line-height:1em;
    animation: fadeIn 4s ease-in-out forwards;  
   
}

.hero{
    padding-top: 2.5rem;
    padding-right: 3rem;
   
}
.container-hr {
    display: flex;
    background-image: url("./imagenes/mountain-6538890_1280.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    align-items: center;
    
}

.logo{
    margin-top: 0;
    
}


.grid-main{
    /* display: grid; */
    width: 100%;
    padding: 0;  
}
.works{
    margin-top: 4rem;
}
.works section,
.event section {
    padding-top: 2rem;
    overflow: hidden;
    
}

.container-workspaces{
    width: 95%;
    margin: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 1rem;
  
    
}


.event{
    width: 100%;
    
    margin-top: 2rem;
    
    display: flex;
}

.workspaces h2, h1
.global h2,h1{
    text-align: center;
    color: #51573d;
    padding: 0;
    margin-top: 15px;
    line-height: 0.3em;
}


.workspaces h2,
.global h2{
    font-size: 35px;
}

.text-left{
    text-align: center;
    right: 150px;
}
.circle{
    text-align: center;
    color: #448532;
    font-size: 1.5rem;
    margin: 0 1.6rem;
}

img{
    width: 100%;
    height: 200px;
    
}

img.medium{
    width: 220px;
    height: 400px;
    object-fit: cover;
   z-index: 0;
}
.button-info{
    width: 30%;
    border: none;
    background-color: #fdc087;
   margin-top: 1rem;
   height: 40px;
   
   cursor: pointer;
   border-radius: 5px;
}
.button-info:hover{
    transform: scale(1.2);
  transition:calc(00.5s);
}

.button-info a{
    text-decoration: none;
    text-align: center;
    color: rgb(63, 104, 104);
}

*/TABLA CARTELERA*/
table{
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
    margin-right: 25px;
}

.table{
    margin-left: 15px;
    margin-right: 15px;
}
th,td {
    text-align: center;
    padding: 8px;
}
.first-tr{
    background-color: #ddbfa2;
}
tr{
    background-color: #fdc087;
}
tr:nth-child(even){
    background-color: #9e8e84;
}


.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 7rem;
    padding: 0 1rem 0 1rem;
}

/*EVENTS*/

.global{
    text-align: center;
  
}
.event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding-top: 2rem;
    color:#51573d;
}

.info-ev{
    text-align: center;
    
}

.des{
    margin-bottom: 3rem;
}


.image-group{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /*columnas*/
    grid-gap: 3px 3px; 
   margin-top: 3rem;
}

.image-group>img{
    margin: 5px;
    padding-right: 1em;
   
}

.image-group a{
    text-decoration: none;
    text-align: center;
    color: rgb(63, 104, 104);
    background-color: #fdc087;
   margin-top: 1rem;
   height: auto;
   margin-left: 3rem;
   cursor: pointer;
   border-radius: 5px;
   
}
 
/*SLIDER*/
/* body { margin: 0; }  */
div#slider { overflow: hidden; } /* las im치genes no van a salir del m치rgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del c칩digo define el movimiento de las im치genes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* QUERYS */
@media   (max-width:480px) {
    .logo{
        width: 130px;
        height: 130px;
        margin-left: 5px;
    }
 .hero{
        font-size: 40px;
        margin-left: 10px;
    }
    .event{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 230px;
        height: 230px;
       
    }
    .image-group{
        justify-content: center;
        padding: 0 5px 0 5px;
    }
    .image-group a{
        margin-left: 1rem;
    }
}

@media  (min-width: 481px) and (max-width:650px) {
   header .container-hr{
        width: 150%;
    }
    .hero{
        margin-left: 60px;
    }
    .event{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 230px;
        height: 230px;
       
    }
    .image-group{
        justify-content: center;
        padding: 0 5px 0 5px;
    }
    .image-group a{
        margin-left: 1rem;
    }
}

    @media  (min-width: 651px) and (max-width:850px){
        .event{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 230px;
            height: 230px;
           
        }
        .image-group{
            justify-content: center;
            padding: 0 5px 0 5px;
        }
        .image-group a{
            margin-left: 1rem;
    }
}




